
- status = 'finished'
- content_for :nav do
  %div{ :style => "float: right; padding-right: 0.5%;" }
    %a{ :href => "#", :onclick => "return show_all();" } All
    - [ 'finished', 'started', 'downloading', 'seeding' ].each do |status|
      %a{ :href => "#", :onclick => "return hide_all_but('#{status}');" }= status.capitalize


%ul.torrents
  - @list.each do |torrent|
    - # Generate the scp command for this guy
    - path = File.join(config['download-dir'], torrent.get_name)
    - scp = "scp narbsy.com:\"#{path}\" ~/Videos"
    %li{ :class => torrent.get_status.downcase, :id => torrent.get_hash }
      .title
        %span.name.large
          = torrent.get_name
        %span.status
          [
          = torrent.get_status
          ]

      .torrent
        %p.hash
          = torrent.get_hash
        %div
          %span.ratio
            Ratio:
            = (torrent.get_ratio / 1000.0).round(3)
          %span.rates
            Upload:
            = torrent.get_up_rate
            KB/s

            Download:
            = torrent.get_down_rate
            KB/s
        %p
          %div.percentage{ :style => "margin: auto" }
            = percent_bar torrent.percentage
        %p.clear
          - [:stop, :start, :erase].each do |action|
            %a{ :href => "#", :onclick => "return action_with_hash('/#{action}', '#{ torrent.get_hash }');" }= action.capitalize
          %span.on-top
            %a{ :href => "#", :onclick => "slide(event, '<', '>');" } <
            %span
              = scp
              = clippy(scp.shellescape)
        %p.clear
          Files
          %a{ :href => "#", :onclick => "slide(event, '<', 'V');" } <
          %span
            %form.files{ :method => "POST", :action => "/files/#{ torrent.get_hash }" }
              %table.files
                %thead
                  %tr
                    %th Priority
                    %th Name
                    %th % Finished
                    %th Size
                %tbody
                  - torrent.files.each do |file|
                    %tr
                      %td
                        %input{ :type => "checkbox", :name => file.index,
                                :checked => file.get_priority.nonzero? }
                      %td= file.name
                      %td= percent_bar file.percentage
                      %td= "#{ file.size } MB"
              %input{ :type => "submit", :name => "downloads" }



