%html
  %head
    %title RbTorrent
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/main.css'}
    = script "/jquery-1.4.2.js"
    = script "/idle-timer.js"
    = script "/application.js"
  %body
    #header
      %h1.big
        %a{ :href => "/" } RbTorrent
      %h3.small rtorrent webgui built in Sinatra
      - if logged_in?
        .small
          Logged in as:
          = session[:openid].display_identifier
          %a{ :href => "/logout" } Logout
      - else
        .small
          %a{ :href => "/login" } Log in
      .clear
      #nav
        %a{ :href => "/add", :style => "margin-left: 0.5%" } Add new torrent
        = yield_content :nav
    .content
      = yield
