= form_tag torrent_files_url(@torrent.get_hash), :method => :post, :class => "files" do
  %table.files
    %thead
      %tr
        %th Download?
        %th Name
        %th % Finished
        %th Size
        %th
    %tbody
      - @torrent.files.each do |file|
        %tr
          %td
            = check_box_tag file.index, "on", file.get_priority.nonzero?
          %td= file.name
          %td= render :partial => "partials/percent_bar", :object => to_percent(file.percentage)
          %td= "#{ file.size } MB"
          %td
            %a{ :onclick => "delete_file('#{ @torrent.get_hash }', '#{ file.index }');",
                :value => "Delete", :href => "#" } Delete
  %input{ :type => "submit", :name => "downloads" }


