- status = 'finished'
- content_for :nav do
  %ul.right
    %li
      %a{ :href => "#", :onclick => "return show_all();" } All |
    - [ 'finished', 'started', 'downloading', 'seeding' ].each do |status|
      %li
        %a{ :href => "#", :onclick => "return hide_all_but('#{status}');" }= status.capitalize

%ul.torrents
  - @torrents.each do |torrent|
    %li{ :class => torrent.get_status.downcase, :id => "t" + torrent.get_hash }
      .title
        %span.name.large= torrent.get_name
        %span.status.right
          [
          = torrent.get_status
          ]

      .torrent
        %div.hash= torrent.get_hash
        %div
          %span.ratio
            Ratio:
            = (torrent.get_ratio / 1000.0).round(3)
          %span.rates.right
            Upload:
            = torrent.get_up_rate
            KB/s

            Download:
            = torrent.get_down_rate
            KB/s
        %div
          %div.percentage{ :style => "margin: auto" }
            = render :partial => "partials/percent_bar", :object => to_percent(torrent.percentage)
        %div.clear
          - [:stop, :start, :erase].each do |action|
            %a{ :href => "#", :onclick => "return action_with_hash('/#{action}', '#{ torrent.get_hash }');" }= action.capitalize
          %span.on-top.right
            %a{ :href => "#", :onclick => "slide(event, '<', '>');" } &lt;
            = render :partial => "clippy", :object => File.join(@download_dir.value, torrent.get_name)
        %div.clear
          Files
          = link_to "<", torrent_files_url(torrent.get_hash), :onclick => "slide(event, '<', 'V');", :remote => true
          %div.file-table{ :style => "display: none;" }
            = image_tag "ajax-loader.gif", :alt => "Loading..."

